html {
    background-color: #f8e00b;
  }
  h1{
    color: crimson;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 6px 6px 4px black;
  }
  h2 {
    
    font: 150% sans-serif;
    padding: 10px;
        font-weight: 400; 
        color: #ffffff; 
        background:#ee0467 
    
  }
h3 {
    font: oblique bold 120% cursive;

}
h5{
  font: 150% sans-serif;
  padding: 10px;
      font-weight: 400; 
      color: #ffffff; 
      background:#ee0467 
}
  
img {
      width: 50%; 
      display: block;
     margin: 0 auto;
     border: 21px double #ff6550;
}

     
  li{
    font-style: italic;
    font-size: 20px;
  }  

    #caja{
    position: relative; 
    top: 0px;
    margin: 300px;
    width: 600px;
    border: 10px solid rgb(66, 63, 63);
    background-color: rgb(100, 99, 99);
    padding: 10px;
    }

    #caja2{

    position: relative;
    margin:300px;
  	height:20%;
  	width:600px;
    padding: 10px;
  	border:20px solid #80BC3A;
	  background-color: #98E53E;

 
   }
   
 